# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build in Windows

on:
  push:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.*'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2019_64'
        #modules: 'qtcharts qtwebengine qtsvg'
        tools: 'tools_ifw'
        cache: 'true'
        #install-deps: 'true'
        #modules: 'qtcharts qtwebengine'
        #archives: 'qtbase qtsvg'
        #tools: 'tools_ifw tools_qtcreator,qt.tools.qtcreator'

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Generate sln Project
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DQT_ROOT_DIR=${{env.QT_ROOT_DIR}} -G "Visual Studio 17 2022"
    
    - name: Build
      # Build your program with the given configuration
      run: msbuild ${{github.workspace}}/build/tclClient.sln /t:Rebuild /p:Configuration=Release /p:Platform=x64

